version: '3'

volumes:
  pg_data_kittygram:
  static_kittygram:
  media_kittygram:

services:
  db:
    image: postgres:13.10
    volumes:
      - pg_data_kittygram:/var/lib/postgresql/data
      - media_kittygram:/media
    env_file: .env
  backend:
    build: ./backend/
    env_file: .env
    depends_on:
      - db
    volumes:
      - static_kittygram:/backend_static/static
      - media_kittygram:/media
  frontend:
    env_file: .env
    build: ./frontend/
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static_kittygram:/frontend_static
  gateway:
    build: ./nginx/
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static_kittygram:/static