version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13.10
    volumes:
      - pg_data:/var/lib/postgresql/data
      - media:/media
    env_file: .env
  backend:
    image: nikitriy1/kittygram_backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/backend_static
      - media:/media
  frontend:
    env_file: .env
    image: nikitriy1/kittygram_fronted
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/fronted_static
  gateway:
    image: nikitriy1/kittygram_gateway
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static:/static
